.login-container{
    background-color: #FAFFEC;
    border-radius: 0%;
    # margin-left: 20%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-100%, -100%);
    z-index:2;
    #filter: none;
}
.img-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url([[pix:theme|bg_student]]);
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(4px) brightness(50%);
}

#region-main-box{
    margin: 0px;
}

#login-topbar{
     width: 100%;
     height: 125px; 
#     background-color: #2F8D74;
     background-color: #096060;
}

.form-control-lg{
	border-radius: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	background-color: #faffec;
}

.login-form-submit{
	text-align: center;
}

#loginbtn{
	border-radius: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	background-color: #faffec;
	color: black;
}

#topbar-logo{
	position: absolute;
	background-image: url([[pix:theme|topbar_logo]]);
	background-repeat: no-repeat;
	height: 40px;
	width: 500px;
	border-width: 0px;
	margin-top: 0px;
	top: 40px;
	margin-left: 0px;
	left: 50px;
}

.navbar-noba{
#	background-color: #faffec;
     background-color: #096060;
     height: 125px !important;
}
.navbar.fixed-top{
	height: 125px;
}
#page{
	margin-top: 125px !important;
}


:root {
	--default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	  Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
	  "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
	  "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
	overflow: hidden;
  }
  
  .main-container,
  .main-container * {
	box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
	outline: 0;
  }
  
  .main-container {
	position: relative;
	width: 1440px;
	height: 967px;
	margin: 0 auto;
	background: #096060;
	overflow: hidden;
  }
  .rectangle {
	position: relative;
	width: 1440px;
	height: 152px;
	margin: 0 0 0 0;
	background: #096060;
	z-index: 4;
  }
  .icon-profile-white {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 39px;
	right: 44px;
	background: url(./assets/images/e65133ec99e25da9b352d0370bc04a6f4d656276.png)
	  no-repeat center;
	background-size: cover;
	z-index: 7;
  }
  .derek-profile {
	position: relative;
	width: 32px;
	height: 32px;
	margin: 10px 0 0 10px;
	z-index: 13;
	-webkit-mask-image: url(./assets/images/3c9d48c3-b86d-416e-b99d-fe2c23c39a09.png);
	-webkit-mask-size: cover;
  }
  .group {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	background: url(./assets/images/58beb3fc-5218-498b-8a10-4d083a71d764.png)
	  no-repeat center;
	background-size: cover;
	z-index: 76;
  }
  .icon-chat {
	position: absolute;
	width: 51px;
	height: 52px;
	top: 41px;
	left: 1180px;
	background: url(./assets/images/ab3b2206ba8ce4547c923d15e4853608ac525687.png)
	  no-repeat center;
	background-size: cover;
	z-index: 5;
  }
  .icon-notification-white {
	position: absolute;
	width: 51px;
	height: 52px;
	top: 43px;
	left: 1091px;
	background: url(./assets/images/94df92f6cb693577765a644d70a83a5b1eea9187.png)
	  no-repeat center;
	background-size: cover;
	z-index: 12;
  }
  .single-line-white {
	position: absolute;
	width: 288px;
	height: 39px;
	top: 53px;
	left: 60px;
	background: url(./assets/images/4f6a835463abd2fba5aee05864382eea2528f8fc.png)
	  no-repeat center;
	background-size: cover;
	z-index: 10;
  }
  .sign-in {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	width: 107px;
	height: 23px;
	top: 53px;
	right: 102px;
	color: #f4f4f5;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 17.25px;
	text-align: right;
	text-decoration: underline;
	white-space: nowrap;
	z-index: 8;
  }
  .rectangle-1 {
	position: relative;
	width: 1440px;
	height: 883px;
	margin: -8px 0 0 0;
	background: #096060;
	overflow: visible auto;
  }
  .rectangle-2 {
	position: relative;
	width: 1319px;
	height: 815px;
	margin: 8px 0 0 60px;
	background: #faffec;
	z-index: 1;
	overflow: visible auto;
  }
  .rectangle-3 {
	position: relative;
	width: 1319px;
	height: 144px;
	margin: 0 0 0 0;
	background: #faffec;
	z-index: 18;
  }
  .rectangle-4 {
	position: absolute;
	width: 14.45%;
	height: 100%;
	top: 0;
	left: 0;
	background: #faffec;
	opacity: 0.95;
	z-index: 21;
  }
  .rectangle-5 {
	position: absolute;
	width: 14.37%;
	height: 100%;
	top: 0;
	left: 14.25%;
	background: #faffec;
	opacity: 0.95;
	z-index: 43;
  }
  .rectangle-6 {
	position: absolute;
	width: 14.3%;
	height: 100%;
	top: 0;
	left: 85.63%;
	background: #faffec;
	opacity: 0.95;
	z-index: 26;
  }
  .rectangle-7 {
	position: absolute;
	width: 14.22%;
	height: 100%;
	top: 0;
	left: 71.41%;
	background: #faffec;
	opacity: 0.95;
	z-index: 31;
  }
  .rectangle-8 {
	position: absolute;
	width: 14.15%;
	height: 100%;
	top: 0;
	left: 28.81%;
	background: #faffec;
	opacity: 0.95;
	z-index: 37;
  }
  .overlay {
	position: absolute;
	width: 190px;
	height: 134px;
	top: 0;
	left: 0;
	background: url(./assets/images/cc534fee-9ea5-4f9d-844b-cae0388ecddd.png)
	  no-repeat center;
	background-size: cover;
	z-index: 48;
  }
  .noba-academyportal-icon-report {
	position: relative;
	width: 52px;
	height: 52px;
	margin: 29px 0 0 70px;
	background: url(./assets/images/75f3f91fb88bb88f1684f9b34c6a8a7876d0cfb8.png)
	  no-repeat center;
	background-size: cover;
	z-index: 24;
  }
  .academy-dashboard {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 85px;
	height: 15px;
	margin: 10px 0 0 53px;
	color: #232d34;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
	z-index: 22;
  }
  .dashboard {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 29px;
	left: 50%;
	background: url(./assets/images/ea3b56787a7e3d767d55c7c9f00c0dad190484d3.png)
	  no-repeat center;
	background-size: cover;
	transform: translate(1036.4%, 0);
	z-index: 29;
  }
  .community {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 29px;
	left: 50%;
	background: url(./assets/images/5e37d32fd1f89666b0547f5931cba3f73704dfef.png)
	  no-repeat center;
	background-size: cover;
	transform: translate(675.69%, 0);
	z-index: 35;
  }
  .lms {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 29px;
	left: 50%;
	background: url(./assets/images/29c817b1c4968dc46ac44c96f24267dab56ec28f.png)
	  no-repeat center;
	background-size: cover;
	transform: translate(-406.73%, 0);
	z-index: 41;
  }
  .exams {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 29px;
	left: 50%;
	background: url(./assets/images/ddfc1d8fcaf542e7c3e265852064c77598570769.png)
	  no-repeat center;
	background-size: cover;
	transform: translate(-772.12%, 0);
	z-index: 47;
  }
  .academy {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 91px;
	height: 15px;
	top: 91px;
	left: calc(50% - -331.36px);
	color: #232d34;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
	z-index: 32;
  }
  .academy-9 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 63px;
	height: 15px;
	top: 91px;
	left: calc(50% - -532.93px);
	color: #232d34;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
	z-index: 27;
  }
  .academy-a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 44px;
	height: 15px;
	top: 91px;
	left: calc(50% - 208.5px);
	color: #232d34;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
	z-index: 38;
  }
  .academy-b {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 39px;
	height: 15px;
	top: 91px;
	left: calc(50% - 395.5px);
	color: #232d34;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
	z-index: 44;
  }
  .flex-row {
	position: absolute;
	top: 142px;
	right: 0;
	bottom: 102px;
	left: 0;
	z-index: 74;
  }
  .rectangle-c {
	position: absolute;
	width: 100%;
	height: 44.31%;
	top: 0;
	left: 0;
	z-index: 15;
  }
  .users {
	position: relative;
	width: 1241px;
	height: 86px;
	margin: 41px 0 0 39px;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 52px;
	font-weight: 500;
	line-height: 53px;
	text-align: left;
	letter-spacing: -0.52px;
	z-index: 16;
  }
  .great-work-this-week {
	position: relative;
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 52px;
	font-weight: 500;
	line-height: 53px;
	text-align: left;
	letter-spacing: -0.52px;
  }
  .sarina {
	position: relative;
	color: #2e8d73;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 52px;
	font-weight: 500;
	line-height: 53px;
	text-align: left;
	letter-spacing: -0.52px;
  }
  .keep-it-up {
	position: relative;
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 52px;
	font-weight: 500;
	line-height: 53px;
	text-align: left;
	letter-spacing: -0.52px;
  }
  .weekly-target {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	width: 228px;
	height: 38px;
	bottom: 5px;
	left: 44px;
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 400;
	line-height: 18.7px;
	text-align: left;
	z-index: 50;
  }
  .set-goal {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	height: 19px;
	bottom: 5px;
	left: 158px;
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 400;
	line-height: 18.7px;
	text-align: left;
	text-decoration: underline;
	white-space: nowrap;
	z-index: 51;
  }
  .ellipse {
	position: absolute;
	width: 21.15%;
	height: 48.86%;
	top: 29.25%;
	left: 40.94%;
	background: url(./assets/images/44403be0-09b1-4227-9255-2a76879b4399.png)
	  no-repeat center;
	background-size: 100% 100%;
	z-index: 60;
	border-radius: 50%;
  }
  .ellipse-d {
	position: absolute;
	width: 21.15%;
	height: 48.86%;
	top: 29.25%;
	left: 75.51%;
	background: url(./assets/images/ef04054d-09ca-49cb-86ec-42ca4c691938.png)
	  no-repeat center;
	background-size: 100% 100%;
	z-index: 70;
	border-radius: 50%;
  }
  .average-score {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 152px;
	height: 15px;
	top: 247px;
	left: calc(50% - 55.5px);
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	white-space: nowrap;
	z-index: 62;
  }
  .average-score-e {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 108px;
	height: 15px;
	top: 247px;
	left: calc(50% - -422.5px);
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	white-space: nowrap;
	z-index: 72;
  }
  .percentage {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 222px;
	height: 106px;
	top: calc(50% - 17.5px);
	left: calc(50% - 90.5px);
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 82px;
	font-weight: 500;
	line-height: 83.64px;
	text-align: center;
	white-space: nowrap;
	letter-spacing: -0.82px;
	z-index: 61;
  }
  .percentage-f {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 222px;
	height: 106px;
	top: calc(50% - 17.5px);
	left: calc(50% - -365.5px);
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 82px;
	font-weight: 500;
	line-height: 83.64px;
	text-align: center;
	white-space: nowrap;
	letter-spacing: -0.82px;
	z-index: 71;
  }
  .component {
	position: absolute;
	width: 200px;
	height: 11px;
	top: 276px;
	left: 44px;
	background: url(./assets/images/ad7b906f-5270-4b81-a8e0-892e18cd2aaa.png)
	  no-repeat center;
	background-size: cover;
	z-index: 52;
  }
  .ellipse-10 {
	position: absolute;
	width: 21.15%;
	height: 48.86%;
	top: 51.14%;
	left: 58.23%;
	background: url(./assets/images/e3cfecdd-76f0-4ae9-804b-bacec140a3a3.png)
	  no-repeat center;
	background-size: 100% 100%;
	z-index: 65;
	border-radius: 50%;
  }
  .view-all-data {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	height: 19px;
	bottom: 232px;
	left: 44px;
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 400;
	line-height: 18.7px;
	text-align: left;
	text-decoration: underline;
	white-space: nowrap;
	z-index: 74;
  }
  .get-full-report {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 62px;
	height: 16px;
	top: 368px;
	left: calc(50% - 10.5px);
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 15.938px;
	text-align: center;
	white-space: nowrap;
	z-index: 63;
  }
  .get-full-report-11 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 96px;
	height: 16px;
	top: 368px;
	left: calc(50% - -428.5px);
	color: #096060;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 15.938px;
	text-align: center;
	white-space: nowrap;
	z-index: 73;
  }
  .average-score-12 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 149px;
	height: 15px;
	top: 372px;
	left: calc(50% - 281.5px);
	color: #ffff96;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	white-space: nowrap;
	z-index: 57;
  }
  .average-score-13 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 182px;
	height: 15px;
	top: 372px;
	left: calc(50% - -157.5px);
	color: #ffffff;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 17px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	white-space: nowrap;
	z-index: 67;
  }
  .percentage-14 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 222px;
	height: 106px;
	top: calc(50% - -107.5px);
	left: calc(50% - 318.5px);
	color: #ffff96;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 82px;
	font-weight: 500;
	line-height: 83.64px;
	text-align: center;
	white-space: nowrap;
	letter-spacing: -0.82px;
	z-index: 56;
  }
  .percentage-15 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 222px;
	height: 106px;
	top: calc(50% - -107.5px);
	left: calc(50% - -137.5px);
	color: #ffffff;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 82px;
	font-weight: 500;
	line-height: 83.64px;
	text-align: center;
	white-space: nowrap;
	letter-spacing: -0.82px;
	z-index: 66;
  }
  .get-full-report-16 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 93px;
	height: 16px;
	top: 493px;
	left: calc(50% - 253.5px);
	color: #ffff96;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 15.938px;
	text-align: center;
	white-space: nowrap;
	z-index: 58;
  }
  .get-full-report-17 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 98px;
	height: 16px;
	top: 493px;
	left: calc(50% - -199.5px);
	color: #ffffff;
	font-family: GT Walsheim, var(--default-font-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 15.938px;
	text-align: center;
	white-space: nowrap;
	z-index: 68;
  }
  .ellipse-18 {
	position: absolute;
	width: 21.15%;
	height: 34.23%;
	top: 53.25%;
	left: 23.65%;
	background: url(./assets/images/f395135d-3698-45e8-9cb4-9ee76bda7d48.png)
	  no-repeat center;
	background-size: 100% 100%;
	z-index: 55;
	border-radius: 50%;
  }
  