<!-- local/greetings/templates/index.mustache -->

<div class="messages">
    {{#messages}}
    <div class="message card">
        <div class="card-body">
            <p>{{content}}</p>
            <small>{{author}}</small>
        </div>
    </div>
    {{/messages}}
</div>
